@model ShopCartViewModel
<div class="container">
    @foreach (var el in Model.shopCart.listJerseyItems)
            {
                <div class="alert alert-warning mt-3">
                    <b>Джерси:</b> @el.jersey.Name<br />
                    <b>Цена:</b> @el.jersey.price.ToString("c")
                </div>
            }
    <hr />
    <div class="btn btn-danger" asp-controller="Order">Оплатить</div>
</div>